@import "navbar.css";
@import "gallery.css";
@import "photo_details.css";
@import "contact.css";

body {
    background-color: #222222;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 100;
}

h1 {
    color: #c51556;
}

h2, h3 {
    margin: 0;
}

a {
    color: #d2668d;
    text-decoration: none;
}

a:hover {
    color: white;
}

.site-logo{
    color: #c51556;
    font-size: 120px;
    margin: 10px;
}

.site-header-layout{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.site-footer-layout{
    display: flex;
    justify-content: center;
    background-color: #191919;
}

.site-footer-layout p {
    margin: 10px;
    color: #7188ab;
}

.content-container{
    margin: 10px 50px;
}