{% extends '_base.html' %}

{% block title %} Gallery {% endblock title %}

{% block content %}

    <div class="thumbnail_layout">

        {% for photo in photos  %}
            <a href="{% url 'gallery_home' %}{{ photo.slug }}/" class="thumbnail_item" style="background-image: url({{ photo.image.url }})">

                <div class="thumbnail_content_layout">
                    <div class="thumbnail_header">
                        <div class="image_category">{{ photo.category }}</div>
                        <div class="image_title">{{ photo.title }}</div>
                    </div>


                    <div class="thumbnail_footer">{{ photo.uploaded }}</div>
                </div>

            </a>
        {% endfor %}

    </div>

{% endblock content %}