{% extends '_base.html' %}

{% block title %} {{ photo.title }} {% endblock title %}

{% block content %}
    <div class="details_layout">
        <img src="{{ photo.image.url }}" alt="" class="detail_photo">

        <div class="photo_description_layout">
            <p class="photo_category">{{ photo.category }} /</p>

            <h1>{{ photo.title }}</h1>
            <p class="photo_description">{{ photo.description }}</p>

            <br>

            <p class="photo_date">{{ photo.uploaded }}</p>
        </div>
    </div>
{% endblock content %}