.contact_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff1c;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact_container h1 {
    margin: 0 0 40px 0;
    border-bottom: 1px solid #ffffff1c;
}

.input_field, textarea {
    background-color: transparent;
    padding: 10px;
    font: inherit;
    color: inherit;
    border: 1px solid #ffffff1c;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

.input_field:focus, textarea:focus {
    border: 1px solid #ffffff5c;
}

textarea{
    resize: vertical;
}

button{
    background-color: #7188ab;
    padding: 5px 20px;
    border-radius: 5px;
    font: inherit;
    color: white;
    cursor: pointer;
    border: none;
    align-self: flex-end;
}