.thumbnail_layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
}

.thumbnail_item{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    filter: grayscale(100%);
}

.thumbnail_content_layout{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}

.thumbnail_item:hover .thumbnail_content_layout{
    opacity: 1;
    transition: 0.3s;
}

.thumbnail_item:hover {
    filter: grayscale(0%);
    transition: 0.3s;
}

.thumbnail_header,  .thumbnail_footer{
    background-color: #222222b3;
    padding: 10px;
    color: white;
}

.thumbnail_footer {
    display: flex;
    justify-content: flex-end;
    color: #7188ab;
}

.image_category{
    color: #c51556;
    font-weight: 500;
}

.image_title{
    color: #a2bde7;
}