.navbar {
    background-color: #586983;
    display: flex;
    justify-content: center;
}

.nav-button{
    color: white;
    padding: 20px 10px;
}

.nav-button:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}