{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stylus Photography | {% block title %}{% endblock title %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <h1 style="margin-bottom: 0">{{ site_name }}</h1>
    <img src="/media/{{ logo }}" alt="logo">
    <h3>{{ site_subtitle }}</h3>

    {% include '_navbar.html' %}

    {% block content %}
    {% endblock content %}

    <div>
        <p>{{ email }}</p>
        <p>{{ phone }}</p>
    </div>

</body>

</html>