{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stylus Photography | {% block title %}{% endblock title %}</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/74f7ef6948.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>

<body>
    <div class="site-header-layout">
        <i class="fas fa-atom site-logo"></i>

        <div>
            <h1 style="margin: 0">{{ site_name }}</h1>
            <h3>{{ site_subtitle }}</h3>
        </div>
    </div>


    {% include '_navbar.html' %}

    <div class="content-container">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="site-footer-layout">
        <p>Email: {{ email }}</p>
        <p>Telefon: {{ phone }}</p>
    </div>

</body>

</html>