{% extends '_base.html' %}

{% block title %} Gallery {% endblock title %}

{% block content %}
    <img src="https://source.unsplash.com/800x600/?nature,water1" alt="">
    <img src="https://source.unsplash.com/800x600/?nature,water2" alt="">
    <img src="https://source.unsplash.com/800x600/?nature,water3" alt="">
    <img src="https://source.unsplash.com/800x600/?nature,water4" alt="">
    <img src="https://source.unsplash.com/800x600/?nature,water5" alt="">
    <img src="https://source.unsplash.com/800x600/?nature,water6" alt="">
    <img src="https://source.unsplash.com/800x600/?nature,water7" alt="">
    <img src="https://source.unsplash.com/800x600/?nature,water8" alt="">
{% endblock content %}