{% extends '_base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quae!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, amet cupiditate dolores eaque esse ipsum iure iusto non suscipit tempore unde vel, voluptas? Doloribus eaque maxime porro quidem soluta voluptatibus.</p>

    <img src="https://source.unsplash.com/800x600/?nature,water" alt="">

    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quae!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque consectetur consequuntur cum dolorem dolorum est excepturi explicabo minus molestias neque omnis possimus, reiciendis soluta ut voluptate voluptatibus! Rerum, suscipit.</p>

    <img src="https://source.unsplash.com/800x600/?cities" alt="">

    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, quae!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque consectetur consequuntur cum dolorem dolorum est excepturi explicabo minus molestias neque omnis possimus, reiciendis soluta ut voluptate voluptatibus! Rerum, suscipit.</p>

    <img src="https://source.unsplash.com/800x600/?faces" alt="">

{% endblock content %}